.SpecialOffer{
    margin: {
        top: 90px;
        bottom: 200px
    };
    display: flex;
    flex-wrap: wrap;
}
.SpecialOfferBox{
    width: 500px;
    text-align: end;
    h2{
        margin-top: 55px;
    }
    p{
        margin: {
            top: 65px;
            bottom: 75px;
        };
        font-size: 100px;
        font-weight: 700;
        color: $Black;
    }
}