$MainFont400W: 'Geometria', sans-serif;
$Black60: rgba(101, 101, 101, 1);
$Black: rgba(0, 0, 0, 1);
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font: {
        family: $MainFont400W;
        weight: 400;
    }

}
.Resolution1440{
    margin: auto;
    max-width: 1440px;
    height: 1000px;
    >div{
        margin: auto;
        max-width: 1170px;
        height: 100%;
    }
}
@import "./components/Button";
@import "./components/Header";
@import "./components/Footer";
@import "./components/BuyNow"