$MainFont400W: 'Geometria', sans-serif;
$Black60: rgba(101, 101, 101, 1);
$Black: rgba(0, 0, 0, 1);
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font: {
        family: $MainFont400W;
        weight: 400;
    }

}
.Container{
    margin: auto;
    max-width: 1440px;
    height: 10000px;
    border: {
        left: 1px solid $Black;
        right: 1px solid $Black;
    }
}
@import "./components/Button";
@import "./components/Header";