body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.Resolution1440 {
  margin: auto;
  max-width: 1440px;
}
.Resolution1440 > div {
  margin: auto;
  max-width: 1170px;
  height: 100%;
}

.Button {
  cursor: pointer;
  background: transparent;
  color: rgb(0, 0, 0);
  max-width: 170px;
  height: 55px;
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 5px;
  font-family: "Geometria", sans-serif;
}

.Header {
  z-index: 1;
  background-color: white;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  max-width: 1170px;
}
.Header img {
  float: left;
  margin-right: 25px;
}

.NavBar {
  display: inline;
  list-style: none;
  padding: 0;
}
.NavBar :last-child {
  margin-right: 0;
}
.NavBar[data-nav=header] {
  max-width: 407px;
}
.NavBar[data-nav=header] > li {
  margin-top: 26px;
  float: left;
  margin-right: 20px;
}
.NavBar[data-nav=header] a {
  font-size: 20px;
  color: rgb(101, 101, 101);
  text-decoration: none;
}
.NavBar[data-nav=header] a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.NavBar[data-nav=footer] {
  max-width: "100%";
  margin-top: 55px;
  float: right;
}
.NavBar[data-nav=footer] > li {
  float: left;
  margin-right: 20px;
}
.NavBar[data-nav=footer] a {
  font-size: 14px;
  color: rgb(101, 101, 101);
  text-decoration: none;
}
.NavBar[data-nav=footer] a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

footer {
  max-width: 1440px;
  height: 132px;
  border-top: 1px solid rgb(0, 0, 0);
}

.FooterContainer {
  margin: auto;
  max-width: 1170px;
  height: 132px;
}

.FooterContent {
  padding-top: 25px;
  height: 70px;
}
.FooterContent > span {
  margin-left: 35px;
  font-size: 14px;
}

.BuyNow {
  margin-top: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.BuyNow hr {
  max-width: 70px;
  margin: 0;
}

.BuyNowTextBox {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0;
}
.BuyNowTextBox h1 {
  margin-bottom: 0;
  font-size: 54px;
  line-height: normal;
}
.BuyNowTextBox p {
  max-width: 469px;
  font-size: 18px;
  color: rgb(101, 101, 101);
}

.ImgBox {
  max-width: 670px;
}
.ImgBox img {
  width: 100%;
}

.Pcbuilder {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.PcbuilderTextBox h1 {
  margin: 0;
  font-size: 36px;
}
.PcbuilderTextBox p {
  font-size: 18px;
  color: rgb(101, 101, 101);
}

.SelectsBox {
  display: flex;
  flex-wrap: wrap;
}

.CustomSelectBox {
  margin: auto;
  margin-bottom: 30px;
  width: 530px;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.CustomSelectBox:focus {
  border: 2px solid black;
}

.SelectsButtonsBox {
  display: flex;
  justify-content: end;
}

.CustomSelect {
  height: 65px;
  color: rgb(0, 0, 0);
  background-color: rgb(217, 217, 217);
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Geometria", sans-serif;
}

.CustomSelectOptions {
  cursor: pointer;
  overflow-y: scroll;
  max-width: 530px;
  height: 100px;
  margin-bottom: 10px;
  border-top: 2px solid black;
}
.CustomSelectOptions::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: black;
}
.CustomSelectOptions::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

.OptionBox {
  padding-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
.OptionBox:hover {
  background: gray;
  border-radius: 10px;
}

.OurAssemblies > h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
}

.ComputersContainer {
  display: flex;
  flex-wrap: wrap;
}

.ComputerBox {
  max-width: 370px;
  margin: auto;
}
.ComputerBox h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
.ComputerBox p {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  color: rgb(101, 101, 101);
}

.Advantages > h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.AdvantagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.AdvantageBox {
  text-align: center;
  margin: auto;
  max-width: 370px;
}
.AdvantageBox p {
  color: rgb(101, 101, 101);
  font-size: 18px;
}

.SpecialOffer {
  margin-top: 90px;
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
}

.SpecialOfferBox {
  width: 500px;
  text-align: end;
}
.SpecialOfferBox h1 {
  margin-top: 55px;
  font-size: 36px;
}
.SpecialOfferBox p {
  margin-top: 65px;
  margin-bottom: 75px;
  font-size: 100px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}/*# sourceMappingURL=main.css.map */